*target*
*.war
*.ear
*.class
*.lock
*.properties
.DS_Store
.idea
*.iml
**/MyTest.java
web/src/main/java/cn/memedai/web/MyTestController.java
**/athena
**/hermes


# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch